header h1 img{
    width: 200px;
    border-radius: 50%;
    box-shadow:10px 10px 10px rgb(128, 102, 131)

}
header{
    background-color: #D1C2D7;
    padding: 20px 0;
    background-image: linear-gradient(to bottom,#6B0098,white,#D1C2D7,#100817);
}
nav li {
   display:inline;
    margin: 0 0 0 15px;

}
 nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

 }

 .caixa {
     position: relative;
     width: 940px;
     margin: 0 auto;

 }
 nav {
    position: absolute;
    top: 100px;
    right:0px;

 }

 nav a:hover {
   color:blue;
   text-decoration: none;
 }

.titulo-principal{
    font-size: 50px;
}


h2{
    text-align: center;
}
#titulo-centralizado{
    text-align: center;
}
#banner {
     width: 100vw;/* view width(largura da imagem)*/
    height:150vh; /* view height(altura da imagem)*/
    background-size: cover;
    box-shadow: 1px 10px 10px #6B0098;

}
#missao{
    font-size:  20px;
}
strong {
    color:red;

}
.decoracao{
    background-image: linear-gradient(to bottom,#D1C2D7, white, #6B0098 );
}
.principal{
    background-image: linear-gradient(to bottom,#6B0098,#D1C2D7);
    padding:100px;
    text-align: center;
}
.container {
    text-align:left
}
ul{
    display:inline-block;
	vertical-align: top;
	width: 100%;
	margin-right:15%;
    font-size: large;
    
}
.imagemdadecoracao{
    width: 50%;
    margin-left:50%;
}
footer{
    text-align: center;
    padding: 40px 0;
    background-image: linear-gradient(to bottom, #6B0098, white, #D1C2D7 );
}
footer img{
    width:200px;
    border-radius: 50%;
    box-shadow:10px 10px 10px rgb(128, 102, 131)
}