header{
    padding: 40px 0;

}
.caixa {
    position: relative;
    width: 940px;
    
}
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
 }
 :root{
    --colorBack: #fff;
    --colorPurple: #9800ce;
    --colorGrey: rgb(87, 87 ,87);
    --colorCiano: rgb(0, 156, 184);
  
 }
 
h2{
    padding-left: 280px;
    align-items: top;
}
main{
    width: 940px;

   
}
.inmain{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: top;
   
    font-size: 3em;
    background: var(--colorBack);
    color: var(--colorGrey);
 }
 
.container span{
   animation: brilho 2.70s ease-in-out infinite; 
  
}
.container span:nth-of-type(2){
    animation-delay: 0.50s;
}
.container span:nth-of-type(3){
    animation-delay: 0.70s;
}
.container span:nth-of-type(4){
    animation-delay: 1s;
}
.container span:nth-of-type(5){
    animation-delay: 1.25s;
}
.container span:nth-of-type(6){
    animation-delay: 1.50s;
}
.container  span:nth-of-type(7){
    animation-delay: 1.75s;
}
.container  span:nth-of-type(8){
    animation-delay: 2s;
}
.container  span:nth-of-type(9){
    animation-delay: 2.15s;
}
.container span:nth-of-type(10){
    animation-delay: 2.40;
}

@keyframes brilho{
    0%{
        color:black;
        text-shadow: 0 0 12px var(--colorPurple), 
        0 0 50px var(--colorPurple),
        0 0 100px var(--colorPurple);
    }
    10%, 90%{
        color: var(--colorGrey);
        text-shadow: none;
    }

}

.insta {
    width:940px;
    
    padding:50px 0;
    text-align: center;
    
 }

 .insta li {
    display:inline-block;
    text-align: center;
    width: 64%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 25px 15px;
    box-sizing: border-box;
    border: 2px solid var(--colorPurple);
    border-radius: 10px ;
    background: transparent;
    color: var(--colorPurple);
 }
 .insta li:hover{
   border-color: var(--colorGrey);
 }
 .insta li:active{
   border-color: var(--colorCiano);
 }
 .insta li:hover h2{
   font-size: 34px;
 }

 .insta li img {
   width: 250px;

 }
.insta h2{
   font-size: 30px;
   font-weight: bold;}

 footer{
    padding: 40px 0;

 }
 .box{
    display: flex;
 }